:root {
  --bg-color: #f2f2f1;
  --btn-icon-color: #909090;
  --header-bg-color: #afb8be;
  --prim-color: #0077ff;
  --standard-txt-color: #505050;
  --title-color: #757575;
  --white: white;

  --btn-icon-dim: 24px;
  --main-width: 912px;
  ----standard-font-sz: 16px;
}

body {
  background-color: var(--bg-color);
  font-family: 'Roboto', sans-serif;
}

header {
  align-items: center;
  background-color: var(--header-bg-color);
  display: flex;
  justify-content: flex-start;
  margin-bottom: 3em;
  padding: 32px;
}

main {
  margin-left: auto;
  margin-right: auto;
  width: var(--main-width);
}

input {
  background-color: var(--white);
  border: solid 1px var(--bg-color);
  box-sizing: border-box;
  color: var(--standard-txt-color);
  font-family: 'Roboto', sans-serif;
  height: 40px;
  padding: 0 0 0 15px;
  width: 100%;
}
::placeholder {
   color: var(--btn-icon-color);
}

.title {
  color: var(--title-color);
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 1.1em;
  margin-top: 1.1em;
}

.txt-toggle {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  /*remove default style*/
  border: none;
  background: none;
  box-shadow: none;
  outline: inherit;
}
.txt-toggle-icon {
  bottom: -2px;
  font-size: 17px;
  padding-left: 7px;
  position: relative;
}
.txt-toggle.active, .txt-toggle:hover {
  color: var(--standard-txt-color);
}

/* ------ utils ------ */

.hidden {
  display: none;
}

.unstyle-link {
  color: inherit;
  text-decoration: none;
}
