button {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}
button[disabled] {
  cursor: not-allowed;
}

.rect-btn {
  background-color: var(--bg-color);
  color: var(--prim-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  padding: 0 21px;
}
.rect-btn:hover:not([disabled]) {
  filter: brightness(96%);

  transition: filter var(--quick-transition-sec);
}
.rect-btn.primary {
  background-color: var(--prim-color);
  color: var(--white);
}
.rect-btn[disabled] {
  background-color: var(--bg-color);
  color: var(--title-color);
}

.icon-btn, .rect-btn {
  /*remove default style*/
  border: none;
  background-image: none;
  box-shadow: none;
  outline: inherit;
}
.icon-btn {
  background-color: transparent;
  color: var(--btn-icon-color);
  padding: 5px 9px;
}
.icon-btn:hover {
  filter: brightness(72%);

  transition: filter var(--quick-transition-sec);
}

.icon-btn > i {
  height: var(--btn-icon-dim);
  width: var(--btn-icon-dim);
}
